.footer {
  width: 100%;
  min-height: 80px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__school {
    display: block;
    width: 100px;
    height: 40px;
    background-image: url('../assets/svg/rss.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .nav {
    &__list {
      display: flex;
      gap: 20px;
      list-style: none;
    }
    &__link {
      text-decoration: none;
    }
  }
}