.footer {
  background-color: #d373f3;
  font-family: 'Neucha', cursive;
  color: white;
  font-size: 18px;
  width: 100%;
  min-height: 80px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__school {
    display: block;
    width: 100px;
    height: 40px;
    background-image: url('../assets/svg/rss.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: brightness(0) invert(1);
  }
  .nav {
    &__list {
      display: flex;
      gap: 20px;
      list-style: none;
    }
    &__link {
      text-decoration: none;
      position: relative;
      padding-left: 25px;
      color: white;
      text-decoration: none;
      &::before {
        position: absolute;
        left: 1px;
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url('../assets/svg/git.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}