.main {
  &__title-link {
    color: black;
    padding-bottom: 3px;
    border-bottom: 2px solid black;
    text-decoration: none;
  }
  &__registry,
  &__login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    input {
      padding: 10px;
    }
  }
}
