.home-container {
  max-width: 1050px;
  margin-top: 50px;
  font-family: "Neucha", cursive;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  @media screen and (max-width: 500px) {
    font-size: 26px;
    margin-top: 30px;
    }
  .rslang {
    font-size: 70px;
    text-transform: none;
    @media screen and (max-width: 500px) {
    font-size: 50px;
    }
  }
  .title {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 15px;
    @media screen and (max-width: 500px) {
      font-size: 35px;
      }
  }

  .list-title {
    color: #ffffff;
    font-size: 40px;
    text-transform: uppercase;
  }

  .list {
    list-style: none;
    .list__item {
      margin-bottom: 15px;
    }
    .list-item-img {
      position: relative;
      &::before {
        position: absolute;
        left: -50px;
        content: "";
        display: block;
        width: 50px;
        height: 50px;
        background-image: url("../assets/svg/item.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  .textbook-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .textbook-link {
      width: 230px;
      height: 90px;
      padding: 5px;
      display: block;
      background-image: url("../assets/svg/ellipse.svg");
      background-repeat: no-repeat;
      color: #6c7afc;
      background-position: center center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      transition: 1s;
      font-size: 40px;
      &:hover {
        text-decoration: underline;
        transition: 1s;
      }
    }
  }
}
