@import 'header';
@import 'footer';
@import 'forms';
@import 'games';
@import 'team';
@import 'sprint';
@import 'main-page';

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.main {
  flex: 1;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
  }
}



.nav__list {
  margin: 0;
  padding: 0;
}
