body,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

#textbook-container {
  max-width: 900px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.word-card {
  display: flex;
  width: 100%;
  height: 270px;
  border: 1px solid black;
  margin: 10px;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
  border-radius: 10px;
}
.content-wrapper {
  margin: auto 0 auto 20px;
}
.word-title {
  margin-top: 10px;
  font-weight: 700;
}
.word-image {
  width: 340px;
  height: 270px;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}
.word-wrapper {
  * {
    margin-right: 25px;
  }
}
.word {
  font-size: 22px;
  font-weight: bold;
}
.word-transcription {
  color: grey;
}
